i,
span {
  pointer-events: none;
}

body {
  position: relative;
}

body::before {
  content: "";
  top: -50px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 345px;
  background: #ffd370;
  z-index: -99;
  @include mobile() {
    height: 300px;
  }
}

body::after {
  content: "";
  position: absolute;
  top: 294px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 220px 100vw 0 0;
  border-color: #ffd370 transparent transparent transparent;
  z-index: -98;
  @include mobile() {
    top: 249px;
    border-width: 95px 100vw 0 0;
  }
}

h1 {
  font-size: 48px;
  line-height: 82px;
  margin-top: 16px;
  margin-bottom: 21px;
  font-family: "Baloo Tamma 2", cursive;
  font-weight: 500;
  letter-spacing: 8px;

  @include mobile() {
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 32px;
    line-height: 56px;
  }
}

.containor {
  width: 34.72222%;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;

  text-align: center;
  @include mobile() {
    width: 93.6%;
  }
}

::placeholder {
  color: #9f9a91;
}

.input-add {
  position: relative;
  margin-bottom: 8px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  .txt-input {
    width: 100%;
    height: 48px;
    border: none;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    padding-left: 16px;

    @include mobile() {
      padding: 12px;
      font-size: 14px;
      border: 0;
    }
  }

  .btn-add {
    position: absolute;
    right: 4px;
    top: 4px;
  }
  span {
    position: absolute;
    right: 15px;
    top: -1px;
    color: #ffffff;
    font-size: 32px;
    line-height: 47px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
  }
}

.btn {
  width: 40px;
  height: 40px;
  font-size: 32px;
  background: #000000;
  color: #efefef;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.listbox {
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);

  .list-plus {
    position: relative;
    display: flex;
    flex-direction: column;

    background: #ffffff;
    .list-btn {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 16px;
      li {
        width: 33.333%;
        &:hover {
          border-bottom: 2px solid #333333;
        }
      }

      li a {
        @include a-setting;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }

    .list-all {
      @include list-set();
    }
  }
}

//要放在.checked前面 才會被.checked覆蓋
.todo {
  .btn-check {
    display: inline-block;
    vertical-align: text-bottom;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: #ffffff;
    margin-right: 16px;
    cursor: pointer;
    @include mobile() {
    }
  }
  .btn-delete {
    @include btn-clear;
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url("../image/cancel.jpg");
    background-size: cover;
    @include mobile() {
      width: 12px;
      height: 12px;
    }
  }
}

.checked {
  .btn-check {
    @include btn-clear;
  }
  text-decoration: line-through;
  color: rgba(51, 51, 51, 0.3);
  transition: all 0.1s ease;
}

.hide {
  display: none !important;
}

.list-footer {
  padding: 24px 40px 32px 24px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;

  @include mobile() {
    padding: 24px 16px 24px 16px;
    font-size: 14px;
  }
  p {
    display: block;
    span {
      padding-right: 4px;
    }
    a {
      padding: 8px;
      color: #9f9a91;
      text-decoration: none;
      &:hover {
        background: lightyellow;
      }

      @include mobile() {
        line-height: 20px;
      }
    }
    @include mobile() {
      line-height: 20px;
    }
  }
}

.selected {
  border-bottom: 2px solid #333333;
}

.br-10 {
  border-radius: 10px;
}

.brt-lr-10 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.brb-lr-10 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.text-right {
  text-align: right;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
